@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");

:root {
  --violet: hsl(256, 26%, 20%);
  --blue: hsl(216, 30%, 68%);
  --dark-violet: hsl(270, 9%, 17%);
  --gray-violet: hsl(273, 4%, 51%);
  --gray: hsl(0, 0%, 98%);
}
