@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");

:root {
  --violet: hsl(256, 26%, 20%);
  --blue: hsl(216, 30%, 68%);
  --dark-violet: hsl(270, 9%, 17%);
  --gray-violet: hsl(273, 4%, 51%);
  --gray: hsl(0, 0%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  font-family: "Karla", sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 30px 20px;
  margin: 0 auto;
}

/* NAV */

.nav {
  width: 100%;
  height: 11vh;
  background-color: #fff;
  position: fixed;
  z-index: 1000;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-nav {
  display: none;
}

.nav-items {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-item {
  text-transform: uppercase;
  margin-right: 30px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  text-decoration: none;
  color: var(--gray-violet);
  transition: all 0.4s ease-in-out;
}

.nav-link:hover {
  color: var(--violet);
  border-bottom: 1px solid var(--dark-violet);
}

.nav-btn {
  color: var(--dark-violet);
  padding: 10px 20px;
  border: 1px solid var(--dark-violet);
  transition: all 0.4s ease-in-out;
}

.nav-btn:hover {
  color: #fff;
  background-color: var(--dark-violet);
}

@media screen and (max-width: 642px) {
  .logo {
    z-index: 1500;
  }
  .mobile-nav {
    display: block;
  }
  .close {
    display: none;
  }
  .close.open {
    display: block;
  }
  .hamburger.open {
    display: none;
  }
  .nav-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding-top: 10vh;
    margin-top: 13vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--dark-violet);
    background-image: url("./media/bg-pattern-mobile-nav.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    transform: translateY(120%);
    z-index: 900;
    transition: all 0.3s ease-in-out;
  }
  .nav-items.open {
    transform: translateY(0%);
  }
  .nav-item {
    margin-bottom: 40px;
    margin-right: 0;
  }
  .nav-link {
    color: #fff;
    font-size: 18px;
  }
  .nav-btn {
    width: 100%;
    border-color: #fff;
    border-width: 100%;
    padding-left: 90px;
    padding-right: 90px;
  }
  .nav-btn:hover {
    background-color: #fff;
    color: var(--dark-violet);
  }
}

/* HERO */

.hero {
  background: linear-gradient(0deg, #fff 20%, var(--violet) 20%);
  padding-top: 20vh;
  overflow: hidden;
}

.hero::after {
  content: "";
  position: absolute;
  bottom: -200px;
  left: 0;
  width: 100%;
  height: 400px;
  background-image: url("./media/bg-pattern-intro-left-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left bottom;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 450px;
  background-image: url("./media/bg-pattern-intro-right-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
}

.hero-flex {
  display: flex;
}

.hero-left {
  padding-right: 40px;
  z-index: 10;
}

.line {
  width: 150px;
  height: 2px;
  background-color: #fff;
  margin-bottom: 60px;
}

.heading {
  color: #fff;
  font-family: "DM Serif Display", sans-serif;
  font-size: 5rem;
  line-height: 80px;
}

.hero-desc {
  color: #fff;
  font-weight: 400;
  line-height: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn {
  color: #fff;
  text-transform: uppercase;
  padding: 10px 20px;
  border: 1px solid #fff;
  background-color: var(--violet);
  cursor: pointer;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

.btn:hover {
  color: var(--violet);
  background-color: #fff;
}

@media screen and (max-width: 1073px) {
  .hero {
    background: linear-gradient(0deg, #fff 10%, var(--violet) 10%);
  }
  .hero-left > .heading {
    font-size: 4rem;
  }
  .hero-img-desktop {
    width: 100%;
    min-width: 0;
  }
}

@media screen and (max-width: 965px) {
  .hero-left > .heading {
    font-size: 3.5rem;
    line-height: 50px;
  }
}

@media screen and (max-width: 873px) {
  .hero {
    background: linear-gradient(0deg, #fff 0%, var(--violet) 0%);
  }
  .hero::after {
    bottom: -100px;
  }
}

@media screen and (max-width: 769px) {
  .hero-img-mobile {
    display: block;
    width: 100%;
    height: 600px;
    background-image: url("./media/image-intro-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -200px;
  }
  .hero-img-desktop {
    display: none;
  }
  .hero::after {
    bottom: -118px;
    left: 0;
    width: 100%;
    height: 200px;
    background-image: url("./media/bg-pattern-intro-left-mobile.svg");
  }
  .hero::before {
    display: none;
  }
}

@media screen and (max-width: 569px) {
  .hero-img-mobile {
    height: 650px;
  }
  .hero-left {
    text-align: center;
    padding-bottom: 30px;
  }
  .hero-left > .line {
    display: none;
  }
  .hero-left > .heading {
    text-align: center;
    margin-top: 50px;
  }
  .hero-desc {
    text-align: center;
  }
  .hero::after {
    bottom: -167px;
  }
}

/* REASONS */

.dark {
  background-color: var(--gray-violet);
}

.heading-dark {
  color: var(--dark-violet);
  margin-bottom: 70px;
}

.reasons-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}

.reasons-icon {
  margin-bottom: 40px;
}

.reasons-title {
  font-family: "DM Serif Display", sans-serif;
  font-size: 1.5rem;
  color: var(--dark-violet);
  margin-bottom: 20px;
}

.reasons-desc {
  line-height: 24px;
  color: var(--gray-violet);
}

@media screen and (max-width: 569px) {
  .dark {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  .heading-dark {
    font-size: 3.5rem;
    text-align: center;
  }
  .reasons-grid {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
}

/* WORKS */

.works {
  background: var(--violet);
  margin-top: 100px;
  margin-bottom: 50px;
}

.box {
  display: flex;
  align-items: center;
  padding: 50px;
  background-image: url("./media/bg-pattern-how-we-work-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.box-heading {
  font-size: 3rem;
  line-height: 40px;
  width: 40%;
  font-weight: lighter;
}

.box-btn {
  background-color: transparent;
  margin-left: auto;
}

.attribution {
  text-align: center;
  margin-bottom: 80px;
}

.attribution > a {
  text-decoration: none;
  color: var(--violet);
  transition: all 0.4s ease-in-out;
}

.attribution > a:hover {
  color: var(--blue);
}

@media screen and (max-width: 731px) {
  .box-heading {
    font-size: 2rem;
  }
}

@media screen and (max-width: 569px) {
  .box {
    flex-direction: column;
    background-image: url("./media/bg-pattern-how-we-work-mobile.svg");
  }
  .box-heading {
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
  }
  .box-btn {
    margin: 0 auto;
  }
}

/* FOOTER */

.footer {
  background-color: var(--gray);
}

.footer-container {
  width: 100%;
  height: 100%;
  background-image: url("./media/bg-pattern-footer-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  padding-top: 50px;
  padding-bottom: 30px;
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.social-link {
  margin-right: 10px;
}

.social-link:last-child {
  margin-right: 0;
}

.social-icon {
  transition: all 0.4s ease-in-out;
}

.social-icon:hover {
  transform: scale(1.1);
}

.footer-line {
  width: 100%;
  height: 1px;
  background-color: var(--gray);
  margin-bottom: 30px;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer-item {
  display: flex;
  flex-direction: column;
}

.footer-heading {
  text-transform: uppercase;
  color: var(--gray-violet);
  font-size: 0.9rem;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.footer-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 15px;
  color: var(--dark-violet);
  transition: all 0.4s ease-in-out;
}

.footer-link:last-child {
  margin-bottom: 0;
}

.footer-link:hover {
  color: var(--blue);
}
